<!DOCTYPE html>
<html>
    <head>
        <title>stepper</title>
        <link rel="stylesheet" href="stepper.css"/>
    </head>
    <body>
        <div class="signup">
            <div class="layout-holder">
            <div class="progress-prez"></div>
            <div class="form-holder">
            <div class="form-container">
                <p>1 form </p>
                <button type="button">next</button>
            </div>
            <div class="form-container">
                <p>2 form </p>
                <button type="button">prev</button>
                <button type="button">next</button>
            </div>
            <div class="form-container">
                <p>3 form </p>
                <button type="button">prev</button>
                <button type="button">submit</button>
            </div>
        </div>
        </div>
        </div>
    </body>
</html>