* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html, body {
    height: calc(100vh - 5px);
    background: #fafafa;
    padding: 5px 5px 0 5px;
    font-family: 'Ubuntu', sans-serif;
}

:root {
    --input-padding-x: 1.5rem;
    --input-padding-y: .75rem;
  }

::placeholder {
    color: $text;
    font-size: small;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: $white;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $head;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $text;
  } 
  
  
.text-xs {
    font-size: small;
  }
  .text-xxlg {
    font-size: xx-large;
  }

  .row {
    margin-right: 0;
    margin-left: 0;
}

.card {
    border:none;
  }

  .dropdown-item {
    color: $text;
  }
.form-control {
    height: 55px;
    border-radius: 0;
}
.css-yk16xz-control {
  background-color: $body-bg;
}
.css-yk16xz-control, .css-1pahdxg-control {
  height: 55px;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom: 2px solid rgba(0,0,0,0.2) !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    &:focus {
      border-color: #3f51b5 !important;
        outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
    }
}
.css-26l3qy-menu {
  border-radius: 0 !important;
  margin-top: 2px !important;
}
.css-4ljt47-MenuList {
  padding-bottom: 0 !important; 
  padding-top: 0 !important;
}

.css-yt9ioa-option, .css-1n7v3ny-option, .css-9gakcf-option, .css-1uccc91-singleValue {
  cursor: pointer !important;
}
.css-yt9ioa-option, .css-1n7v3ny-option, .css-1uccc91-singleValue {
  cursor: pointer !important;
  color: rgba(0,0,0,0.7);
}
.css-9gakcf-option {
  background-color:  #3f51b5 !important;
}
.css-1n7v3ny-option {
  background-color:  #e8eaf6 !important;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="radio"] {
  transition: all 300ms ease-in-out;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid rgba(0,0,0,0.2);
    &:focus {
        border-color: #3f51b5;
        outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
    }
    &:focus + label {
  color: #3f51b5;
  }
}
button[action="Signup"],
button[action="Login"],
button[action="Submit"],
button[action="Update"] {
  border-radius: 0;
            color: $white;
            background: #3f51b5;
            transition: all 300ms ease-in-out;
            &:hover {
                background: #5c6bc0;
                color: $white;
            }
}

a {
  transition: all 300ms ease-in-out;
}

p {
  margin-bottom: 0.5em;
}

.has-float-label {
  display: block;
  position: relative;
}

.has-float-label .form-control {
  padding-top: 1.5em;
  font-size: small;
}

.has-float-label label {
  position: absolute;
  cursor: text;
  font-size: 80%;
  transition: all 0.2s;
  top: 0em;
  left: 0.35rem;
  z-index: 3;
  padding: 0 1px;
  color: rgba(0,0,0,0.7);
}

.dropdown-item:hover, .dropdown-item:focus{
  color: $white;
  text-decoration: none;
  background-color: #7986cb;
}

.dropdown-item.active, .dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #3f51b5;
}

.dropdown-item.disabled, .dropdown-item:disabled {
  color: #858796;
  pointer-events: none;
  background-color: transparent;
}
