.topbar {
  padding:0.5rem 0;
  box-shadow: 0 1px 5px 0px #f1f1f1;
  .container-fluid {
  padding-left: 5em;
  transition: padding-left 300ms ease-in-out;
  }
}
a[data-toggle="sidebar-colapse"] {
  height: 100%;
  background: #343a40;
  position: absolute;
  width: 55px;
  text-decoration: none;
  i {
    color: $white;
    font-size: x-large;
    display: block;
  }
.navbar-brand {
  position: absolute;
}

}

@media (min-width: 576px) {
.topbar .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
}
.topbar .navbar-nav {
  flex-direction: row;
}
}
.topbar .nav-item.dropdown .dropdown-toggle::after {
    width: 1rem;
    text-align: center;
    float: right;
    vertical-align: 0;
    border: 0;
    font-weight: 900;
    content: '\f105';
    font-family: FontAwesome;
  }


.topbar .nav-item.dropdown.show .dropdown-toggle::after {
  content: '\f107';
}


.topbar .nav-item .nav-link {
  position: relative;
  .badge {
    font-size: small;
    background: #3f51b5;
  }
}


.topbar .nav-item .nav-link .badge-counter {
  position: absolute;
  transform: scale(0.7);
  transform-origin: top right;
  right: .25rem;
  margin-top: -.25rem;
}


.topbar .nav-item .nav-link .img-profile {
  height: 2rem;
  width: 2rem;
}

.topbar .topbar-divider {
    width: 0;
    border-right: 1px solid #e3e6f0;
    height: calc(4.375rem - 2rem);
    margin: auto 1rem;
  }
  
  .topbar .nav-item .nav-link {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 0.75rem;
    
    .fa {
      color: rgba(0,0,0,0.4)
    }
    span {
      color: rgba(0,0,0,0.4)
    }
  }

  
  
  .topbar .nav-item .nav-link:focus {
    outline: none;
  }
  
  .topbar .nav-item:focus {
    outline: none;
  }
  
  .topbar .dropdown {
    position: static;
  }
  
  .topbar .dropdown .dropdown-menu {
    width: calc(100% - 1.5rem);
    right: 0.75rem;
  }
  
  .topbar .dropdown-list {
    padding: 0;
    border: none;
    overflow: hidden;
  }
  
  .topbar .dropdown-list .dropdown-header {
    background-color: #4e73df;
    border: 1px solid #4e73df;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    color: #fff;
  }

  .topbar .dropdown-list .dropdown-item {
    white-space: normal;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-left: 1px solid #e3e6f0;
    border-right: 1px solid #e3e6f0;
    border-bottom: 1px solid #e3e6f0;
    line-height: 1.3rem;
  }
  
  .topbar .dropdown-list .dropdown-item .dropdown-list-image {
    position: relative;
    height: 2.5rem;
    width: 2.5rem;
  }
  
  .topbar .dropdown-list .dropdown-item .dropdown-list-image img {
    height: 2.5rem;
    width: 2.5rem;
  }
  
  .topbar .dropdown-list .dropdown-item .dropdown-list-image .status-indicator {
    background-color: #eaecf4;
    height: 0.75rem;
    width: 0.75rem;
    border-radius: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    border: 0.125rem solid #fff;
  }
  
  .topbar .dropdown-list .dropdown-item .text-truncate {
    max-width: 10rem;
  }
  
  .topbar .dropdown-list .dropdown-item:active {
    background-color: #eaecf4;
    color: #3a3b45;
  }
  
  @media (min-width: 576px) {
    .topbar .dropdown {
      position: relative;
    }
    .topbar .dropdown .dropdown-menu {
      width: auto;
      right: 0;
      position: absolute;
    }
    .topbar .dropdown-list {
      width: 20rem !important;
    }
    .topbar .dropdown-list .dropdown-item .text-truncate {
      max-width: 13.375rem;
    }
  }
  
  .topbar.navbar-dark .navbar-nav .nav-item .nav-link {
    color: rgba(255, 255, 255, 0.8);
  }
  
  .topbar.navbar-dark .navbar-nav .nav-item .nav-link:hover {
    color: #fff;
  }
  
  .topbar.navbar-dark .navbar-nav .nav-item .nav-link:active {
    color: #fff;
  }
  
  .topbar.navbar-light .navbar-nav .nav-item .nav-link {
    color: #d1d3e2;
  }
  
  .topbar.navbar-light .navbar-nav .nav-item .nav-link:hover {
    color: #b7b9cc;
  }
  
  .topbar.navbar-light .navbar-nav .nav-item .nav-link:active {
    color: #858796;
  }

  .dropdown .dropdown-menu {
    font-size: 0.85rem;
  }
  
  .dropdown .dropdown-menu .dropdown-header {
    font-weight: 800;
    font-size: 0.65rem;
    color: #b7b9cc;
  }
  
  .dropdown.no-arrow .dropdown-toggle::after {
    display: none;
  }
  .dropdown-menu {
    border: 1px solid #e3e6f0;
  }

  .animated--grow-in {
    -webkit-animation-name: growIn;
    animation-name: growIn;
    -webkit-animation-duration: 200ms;
    animation-duration: 200ms;
    -webkit-animation-timing-function: transform cubic-bezier(0.18, 1.25, 0.4, 1), opacity cubic-bezier(0, 1, 0.4, 1);
    animation-timing-function: transform cubic-bezier(0.18, 1.25, 0.4, 1), opacity cubic-bezier(0, 1, 0.4, 1);
  }
   