// Variables
@import 'variables'; 
@import 'init';
@import 'auth';
@import 'navbar';
@import 'dashboard';


a[data-toggle="sidebar-colapse"],
i[class="ti-menu"] {
  display: none;
}

#sidebar-container {
  padding: 0;
  position: relative;
}
.content-col {
  overflow-y: scroll;
  overflow-x: hidden;
}
#sidebar-container, .content-col {
  height: calc(100vh - 74px);
}

/* Sidebar sizes when expanded and expanded */
.sidebar-expanded {
  width: 230px;
  transition: width 500ms ease-in-out;
}
.sidebar-collapsed {
  width: 55px;
  transition: width 500ms ease-in-out;
}

@media (max-width: 868px) {
  .sidebar-expanded {
    width: 55px;
    transition: width 500ms ease-in-out;
  }
  .sidebar-collapsed {
    display: none;
  }
  .menu-collapsed,
  .sidebar-submenu,
  .submenu-icon {
    display: none;
  }
  .sidebar-separator-title {
      display: none !important;
  }
  
    
}
/* Menu item*/
#sidebar-container .list-group a {
  height: 50px;
  color: $white;
  &:hover {
    background:#5c6bc0;
  }
  .active {
    background:#3f51b5;
  }
  &:active {
    background:#3f51b5;
  }
}

/* Submenu item*/
#sidebar-container .list-group {
  .collapse {
    a {
      padding-left: 30px;
      }
  }
  .drop-right {
    a {
      padding-left: 10px;
      padding-right: 0;
      .mr-3 {
        margin-right: 0.5rem !important;
      }
    }
  }
}
.sidebar-submenu {
  font-size: 0.9rem;
}

.drop-right {
  display: block;
  position: absolute;
  top: 0;
  left: 57px;
  z-index: 999;
  width: 150px;
  animation: fadein 500ms;
}
@keyframes fadein {
  0%   {opacity: 0;}
  100% {opacity: 1;}
}

/* Separators */
.sidebar-separator-title {
  background-color: #333;
  height: 35px;
}
.sidebar-separator {
  background-color: #333;
  height: 25px;
}
.logo-separator {
  background-color: #333;    
  height: 60px;
}

/* Closed submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="false"] .submenu-icon::after {
content: " \f0d7";
font-family: FontAwesome;
display: inline;
text-align: right;
padding-left: 10px;
}
/* Opened submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="true"] .submenu-icon::after {
content: " \f0da";
font-family: FontAwesome;
display: inline;
text-align: right;
padding-left: 10px;
}
#sidebar-container .list-group .list-group-item {
  background-color: transparent;
  border: none;
}

  

.breadcrumb {
  background-color: transparent;
  padding: 0.75rem 0rem;
  margin-bottom: 0;
}
.breadcrumb-item {
  font-size: .9em;
  a {
    color: #3f51b5;
    text-decoration: none;
    &:hover {
      color: #5c6bc0;
    }
  }
}
.breadcrumb-item + .breadcrumb-item::before {
  display: inline-block;
  padding-right: 0.5rem;
  color: #6c757d;
  font-family: FontAwesome;
  content: "\f105";
}


.customize {
  position: absolute;
  right: 0;
  z-index: 777;
  .customize-toggle {
    background: #3f51b5;
    padding: 10px;
    color: $white;
    cursor: pointer;
    .fa {
      font-size: medium;
    }
  }
  
}
.customize-content {
  background: $white;
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 210px;
  padding: 10px 15px 0.5em;
  h5 {
    color: $head;
    text-transform: capitalize;
  }
  .form-group {
    margin-bottom: 0.5em;
    p {
      color: $text;
      text-transform: capitalize;
      font-size: 16px;
    }
  }
}
.customize-hidden {
  margin-right: -210px;
  transition: margin-right 300ms ease-in;
}
.customize-show {
  margin-right: 0;
  transition: margin-right 300ms ease-in;
}
.form-check {
  [data-toggle="toggle"] {
    width: 50px;
    height: 25px;
  }
}
.toggle.ios, .toggle-on.ios, .toggle-off.ios { border-radius: 20rem; }
  .toggle.ios .toggle-handle { border-radius: 20rem; }


  .profile-card {
    padding: 1.5em 0 0 0;
    box-shadow: 0 0 4px 1px $base;
    p {
      color: $text;
    }
      .profile {
       height: 100px;
       width: 100px;
       max-width: 100px;
       max-height: 100px;
       border-radius: 50%;
       border:5px solid #e8eaf6;
       background-color: #495057;
       display: flex;
       justify-content: center;
       align-items: center;
       span {
         color: $white;
         font-size: xx-large;
         text-transform: uppercase;
       }
     }
     h2 {
      margin-bottom: 0.3rem;
       text-transform: uppercase;
       color: $text;
       text-align: center;
     }
     .p-name {
      text-transform: capitalize;
      text-align: center;
     }
     .row {
       justify-content: center;
       p {
        padding: 6px 0 6px 0;
        margin-left: 5px;
    background: #f1f1f1;
    text-align: center;
    font-size: smaller;
       }
     }
  }
  .profile-social {
    .fa {
      padding: 10px;
      color: $white;
      transition: all 300ms ease-in-out;
      cursor: pointer;
      
      &:nth-child(1) {
        background-color: #495057;
      }
      &:nth-child(2) {
        background-color: #495057;
        margin: 0 0 0 15px;
      }
      &:nth-child(1), &:nth-child(2) {
        &:hover {
          background-color: #5c6bc0;
        }
      }
    }
  }

  .update-card, .update-card-modal {
    form {
      border-radius: 0.10rem;
      background-color: $white;
      box-shadow: 0 0 4px 1px $base;
    }
  }

  .update-card-modal {
    position: absolute;
    max-width: 800px;
    margin-left: auto;
    top:0;
    right: 0;
    z-index: 999;
    height: 100%;
    form {
      height: 100%;
    }
  }
  .hide-modal {
    display: none;
  }
  .show-modal {
    display: block;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: $head;
    z-index: 888;
  }


  


  #grad1 {
    background-color: #9C27B0;
    background-image: linear-gradient(120deg, #FF4081, #81D4FA)
}

#msform {
    text-align: center;
    position: relative;
    margin-top: 20px
}

#msform fieldset .form-card {
    background: white;
    border: 0 none;
    border-radius: 0px;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
    padding: 20px 40px 30px 40px;
    box-sizing: border-box;
    width: 94%;
    margin: 0 3% 20px 3%;
    position: relative
}

#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding-bottom: 20px;
    position: relative
}


#msform fieldset .form-card {
    text-align: left;
    color: #9E9E9E
}

#msform input,
#msform textarea {
    padding: 0px 8px 4px 8px;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0px;
    margin-bottom: 25px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 16px;
    letter-spacing: 1px
}

#msform input:focus,
#msform textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: none;
    font-weight: bold;
    border-bottom: 2px solid skyblue;
    outline-width: 0
}

#msform .action-button {
    width: 100px;
    background: skyblue;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px
}

#msform .action-button:hover,
#msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px skyblue
}

#msform .action-button-previous {
    width: 100px;
    background: #616161;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px
}

#msform .action-button-previous:hover,
#msform .action-button-previous:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #616161
}

select.list-dt {
    border: none;
    outline: 0;
    border-bottom: 1px solid #ccc;
    padding: 2px 5px 3px 5px;
    margin: 2px
}

select.list-dt:focus {
    border-bottom: 2px solid skyblue
}

.card {
    z-index: 0;
    border: none;
    border-radius: 0.5rem;
    position: relative
}

.fs-title {
    font-size: 25px;
    color: #2C3E50;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: left
}

.radio-group {
    position: relative;
    margin-bottom: 25px
}

.radio {
    display: inline-block;
    width: 204;
    height: 104;
    border-radius: 0;
    background: lightblue;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    cursor: pointer;
    margin: 8px 2px
}

.radio:hover {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3)
}

.radio.selected {
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1)
}

.fit-image {
    width: 100%;
    object-fit: cover
}

.close-btn {
  border: 0;
  background: transparent;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer
}
